.DS_Store
## Plugin-specific files:

# mpeltonen/sbt-idea plugin
.idea_modules/

# NodeJS modules folder
node_modules

# npm debug log
npm-debug.log

# vs code
.vscode

# coverage

/coverage

# build folder
/dist

